@import "tailwindcss";

:root {
  --foreground: #000;
  --background: #FAFAFA;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #fff;
    --background: #171717;
  }
}

html,
body {
  color: var(--foreground);
  background: var(--background);
  height: 100%;
  overflow: hidden;
  position: fixed;
  width: 100%;
  touch-action: manipulation;
  -webkit-overflow-scrolling: touch;
}

/* 允许内部容器滚动 */
.overflow-y-auto {
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  height: 100%;
}